@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500,700&display=swap);
@charset "UTF-8";
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-instagram2:before {
  content: "\e900";
}

._icon-twitter:before {
  content: "\f099";
}

._icon-facebook:before {
  content: "\f09a";
}

._icon-instagram:before {
  content: "\f16d";
}

._icon-google:before {
  content: "\f1a0";
}

._icon-yelp:before {
  content: "\f1e9";
}

._icon-arrow:before {
  content: "\e901";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Roboto";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 71.25rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.btn {
  display: inline-block;
  color: #fff;
  background-color: #6F1EAA;
  min-height: 3rem;
  padding: 0.9375rem 2.5rem;
  border-radius: 1.5rem;
}

.title {
  font-size: 2.75rem;
  line-height: 1.2045454545;
}

.header__container {
  max-width: 76.25rem;
}
.header__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem;
  min-height: 5.625rem;
}
.header__menu {
  display: flex;
  align-items: center;
}
@media (min-width: 47.99875em) {
  .header__menu {
    flex: 0 1 31.75rem;
  }
}
.header__buttons {
  flex: 0 1 31.75rem;
  display: flex;
  justify-content: end;
  align-items: center;
}
@supports (column-gap: clamp( 1rem , 0.6rem  +  2vw , 2.0625rem )) {
  .header__buttons {
    column-gap: clamp( 1rem , 0.6rem  +  2vw , 2.0625rem );
  }
}
@supports not (column-gap: clamp( 1rem , 0.6rem  +  2vw , 2.0625rem )) {
  .header__buttons {
    column-gap: calc(1rem + 1.0625 * (100vw - 20rem) / 53.125);
  }
}
.header__login {
  color: #6F1EAA;
  font-size: 0.875rem;
  line-height: 1.2857142857;
}
@media (max-width: 29.99875em) {
  .header__login {
    font-size: 1rem;
  }
}
.header__btn {
  font-size: 0.875rem;
  line-height: 1.2857142857;
  min-height: 2.375rem;
  border-radius: 1.1875rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  white-space: nowrap;
}
@media (max-width: 29.99875em) {
  .header__btn {
    font-size: 1.25rem;
  }
}

@media (max-width: 47.99875em) {
  .menu__body {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #fff;
    padding: 2.8125rem 0.9375rem 3.125rem 0.9375rem;
    transition: left 0.3s ease 0s;
    z-index: 8;
  }
  .menu-open .menu__body {
    left: 0;
  }
}
.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 0.3125rem;
}
@supports (column-gap: clamp( 1rem , 0.6rem  +  2vw , 2.0625rem )) {
  .menu__list {
    column-gap: clamp( 1rem , 0.6rem  +  2vw , 2.0625rem );
  }
}
@supports not (column-gap: clamp( 1rem , 0.6rem  +  2vw , 2.0625rem )) {
  .menu__list {
    column-gap: calc(1rem + 1.0625 * (100vw - 20rem) / 53.125);
  }
}
@media (max-width: 47.99875em) {
  .menu__list {
    flex-direction: column;
    row-gap: 1.25rem;
  }
  .menu__list:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
.menu__link {
  font-size: 0.875rem;
  line-height: 1.2857142857;
}
.menu__link:hover {
  color: #F7A500;
  transition: all 0.3s ease 0s;
}
@media (max-width: 47.99875em) {
  .menu__link {
    font-size: 1.875rem;
    padding: 0.625rem;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 47.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 10;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #6F1EAA;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
}

.footer {
  background-color: #48156D;
  color: #fff;
}
.footer__top {
  padding-top: 3.5rem;
  padding-bottom: 4.25rem;
}
.top-footer__body {
  display: flex;
  justify-content: end;
  gap: 0.9375rem;
  font-size: 0.875rem;
  line-height: 1.2857142857;
}
@media (max-width: 47.99875em) {
  .top-footer__body {
    justify-content: start;
    flex-wrap: wrap;
  }
}
.top-footer__links-list {
  flex: 0 1 11.0625rem;
}
@media (max-width: 47.99875em) {
  .top-footer__links-list {
    flex: 1 1 100%;
  }
  .top-footer__links-list:not(:last-child) {
    margin-bottom: 0rem;
  }
}
.top-footer__contacts {
  flex: 0 1 11.0625rem;
}
@media (max-width: 47.99875em) {
  .top-footer__contacts {
    flex: 1 1 100%;
  }
  .top-footer__contacts:not(:last-child) {
    margin-bottom: 0.625rem;
  }
}
.top-footer__address-list {
  flex: 0 1 11.0625rem;
}
@media (max-width: 29.99875em) {
  .top-footer__address-list {
    flex: 0 1 auto;
  }
}
.top-footer__socials-list {
  flex: 0 1 11.0625rem;
}
@media (max-width: 47.99875em) {
  .top-footer__socials-list {
    flex: 0 1 auto;
  }
}

.title-list {
  color: #C282F0;
  letter-spacing: 0.0375rem;
  font-size: 0.75rem;
  line-height: 1.1666666667;
}
.title-list:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.links-list__title {
  display: flex;
  align-items: center;
}
.links-list__title span {
  display: none;
}
@media (max-width: 29.99875em) {
  .links-list__title span {
    display: block;
    font-size: 1.125rem;
  }
}
.links-list__title._spoller-active span {
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transition: all 0.3s ease 0s;
}
@media (max-width: 47.99875em) {
  .links-list__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.25rem;
    row-gap: 0.875rem;
  }
}
@media (min-width: 47.99875em) {
  .links-list__item:not(:last-child) {
    margin-bottom: 0.375rem;
  }
}
@media (max-width: 47.99875em) {
  .links-list__link {
    padding: 0.3125rem;
  }
}
.links-list__link:hover {
  color: #fff;
  border-bottom: 1px solid #fff;
  transition: all 0.3s ease 0s;
}

@media (max-width: 47.99875em) {
  .contacts-list {
    display: flex;
    column-gap: 1.25rem;
    flex-wrap: wrap;
  }
  .contacts-list:not(:last-child) {
    margin-right: 1.25rem;
  }
}
.contacts-list__phone:not(:last-child) {
  margin-bottom: 0.9375rem;
}
.contacts-list__email:not(:last-child) {
  margin-bottom: 0.9375rem;
}
.address-list__item:not(:last-child) {
  margin-bottom: 0.9375rem;
}
.socials-list__list {
  display: flex;
  flex-wrap: wrap;
}
.socials-list__item {
  font-size: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}
@supports (margin-right: clamp( 0.625rem , 0.2955882353rem  +  1.6470588235vw , 1.5rem )) {
  .socials-list__item {
    margin-right: clamp( 0.625rem , 0.2955882353rem  +  1.6470588235vw , 1.5rem );
  }
}
@supports not (margin-right: clamp( 0.625rem , 0.2955882353rem  +  1.6470588235vw , 1.5rem )) {
  .socials-list__item {
    margin-right: calc(0.625rem + 0.875 * (100vw - 20rem) / 53.125);
  }
}
.socials-list__item:hover {
  color: #fff;
  transition: all 0.3s ease 0s;
}
.main-block {
  position: relative;
  background-color: #FEF7E5;
}
@supports (padding-top: clamp( 5rem , 4.4823529412rem  +  2.5882352941vw , 6.375rem )) {
  .main-block__container {
    padding-top: clamp( 5rem , 4.4823529412rem  +  2.5882352941vw , 6.375rem );
  }
}
@supports not (padding-top: clamp( 5rem , 4.4823529412rem  +  2.5882352941vw , 6.375rem )) {
  .main-block__container {
    padding-top: calc(5rem + 1.375 * (100vw - 20rem) / 53.125);
  }
}
.main-block__body {
  position: relative;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  z-index: 4;
}
.main-block__title {
  max-width: 35.3125rem;
  font-size: 3.4375rem;
  line-height: 1.2181818182;
}
.main-block__title:not(:last-child) {
  margin-bottom: 2rem;
}
.main-block__text {
  max-width: 30.6875rem;
  font-size: 1.25rem;
  line-height: 1.4;
}
.main-block__text:not(:last-child) {
  margin-bottom: 1.4375rem;
}
.main-block__text span {
  color: #6F1EAA;
}
.main-block__img {
  align-items: flex-end;
  position: relative;
  left: 11%;
  width: 21.875rem;
}
@supports (left: clamp( 0.00000625rem , -2.8235208088rem  +  14.1176352941vw , 7.5rem )) {
  .main-block__img {
    left: clamp( 0.00000625rem , -2.8235208088rem  +  14.1176352941vw , 7.5rem );
  }
}
@supports not (left: clamp( 0.00000625rem , -2.8235208088rem  +  14.1176352941vw , 7.5rem )) {
  .main-block__img {
    left: calc(0.00000625rem + 7.49999375 * (100vw - 20rem) / 53.125);
  }
}
.main-block__img img {
  width: 100%;
}
.main-block__left-decor {
  position: absolute;
  top: 0;
  left: 0;
}
.main-block__right-decor {
  position: absolute;
  top: 0;
  right: 0;
}

.quality__container {
  padding-top: 3.5625rem;
  padding-bottom: 2.8125rem;
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
}
@media (max-width: 47.99875em) {
  .quality__container {
    flex-direction: column;
  }
}
.quality__heading {
  flex: 0 1 32.9375rem;
}
@supports (font-size: clamp( 2.25rem , 2.0617647059rem  +  0.9411764706vw , 2.75rem )) {
  .quality__title {
    font-size: clamp( 2.25rem , 2.0617647059rem  +  0.9411764706vw , 2.75rem );
  }
}
@supports not (font-size: clamp( 2.25rem , 2.0617647059rem  +  0.9411764706vw , 2.75rem )) {
  .quality__title {
    font-size: calc(2.25rem + 0.5 * (100vw - 20rem) / 53.125);
  }
}
.quality__title:not(:last-child) {
  margin-bottom: 1.6875rem;
}
@media (max-width: 47.99875em) {
  .quality__title {
    text-align: center;
  }
}
.quality__image {
  text-align: center;
}
.quality__columns {
  flex: 0 1 29.125rem;
}

.column-quality__item {
  position: relative;
}
.column-quality__item:not(:last-child) {
  margin-bottom: 1.875rem;
  padding-bottom: 1.6875rem;
}
.column-quality__item:not(:last-child)::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  background-color: #F7A500;
  height: 0.0625rem;
  width: 100%;
}
.column-quality__caption {
  color: #6F1EAA;
  font-size: 1.5rem;
  line-height: 1.3333333333;
  font-weight: 700;
}
.column-quality__caption:not(:last-child) {
  margin-bottom: 1.1875rem;
}
.column-quality__text {
  line-height: 1.4375;
}
.column-quality__text_size {
  font-size: 0.9375rem;
}

.about {
  background-color: #FAF9F6;
}
.about__container {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__title {
  text-align: center;
}
.about__title:not(:last-child) {
  margin-bottom: 4.0625rem;
}
.about__columns {
  display: flex;
  gap: 0.625rem;
  justify-content: space-between;
}
.about__columns:not(:last-child) {
  margin-bottom: 4.0625rem;
}
@media (max-width: 47.99875em) {
  .about__columns {
    flex-wrap: wrap;
  }
}
.about-column__item {
  flex: 0 1 22.3125rem;
}
@media (max-width: 47.99875em) {
  .about-column__item {
    flex: 1 1 auto;
  }
}
.about-column__body {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.about-column__img {
  display: inline-flex;
  position: relative;
  text-align: center;
  align-items: center;
  min-height: 13.75rem;
}
.about-column__img img {
  z-index: 100;
}
.about-column__img:not(:last-child) {
  margin-bottom: 1.875rem;
}
.about-column__caption {
  flex: 1 0 auto;
  font-size: 1.5rem;
  line-height: 1.3333333333;
  color: #6F1EAA;
}
.about-column__caption:not(:last-child) {
  margin-bottom: 0.6875rem;
}
.about-column__text {
  flex: 1 1 auto;
  font-size: 1rem;
  line-height: 1.4375;
}

.info-for {
  background-color: #F6F3FA;
}
.info-for__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem;
}
@media (max-width: 47.99875em) {
  .info-for__container {
    flex-direction: column;
    padding-bottom: 1.25rem;
  }
}
.info-for__image {
  flex: 0 1 35.125rem;
}
.info-for__image img {
  width: 100%;
}
@media (max-width: 47.99875em) {
  .info-for__image {
    flex: 0 1 auto;
  }
}
@media (min-width: 47.99875em) {
  .info-for__info {
    flex: 0 1 32.9375rem;
    padding: 1.25rem 0px;
  }
}
.info-for__subtitle {
  color: #F7A500;
  line-height: 1.375;
  font-weight: 700;
  letter-spacing: 1px;
}
.info-for__subtitle:not(:last-child) {
  margin-bottom: 0.5rem;
}
@supports (font-size: clamp( 2.25rem , 2.0617647059rem  +  0.9411764706vw , 2.75rem )) {
  .info-for__title {
    font-size: clamp( 2.25rem , 2.0617647059rem  +  0.9411764706vw , 2.75rem );
  }
}
@supports not (font-size: clamp( 2.25rem , 2.0617647059rem  +  0.9411764706vw , 2.75rem )) {
  .info-for__title {
    font-size: calc(2.25rem + 0.5 * (100vw - 20rem) / 53.125);
  }
}
@supports (margin-bottom: clamp( 1.25rem , 0.7088235294rem  +  2.7058823529vw , 2.6875rem )) {
  .info-for__title:not(:last-child) {
    margin-bottom: clamp( 1.25rem , 0.7088235294rem  +  2.7058823529vw , 2.6875rem );
  }
}
@supports not (margin-bottom: clamp( 1.25rem , 0.7088235294rem  +  2.7058823529vw , 2.6875rem )) {
  .info-for__title:not(:last-child) {
    margin-bottom: calc(1.25rem + 1.4375 * (100vw - 20rem) / 53.125);
  }
}
.info-for__text {
  line-height: 1.4375;
}
.info-for__text:not(:last-child) {
  margin-bottom: 1.625rem;
}
.reviews__container {
  position: relative;
  padding-top: 3.625rem;
  max-width: 100vw;
}
@supports (padding-bottom: clamp( 6.25rem , 4.7911764706rem  +  7.2941176471vw , 10.125rem )) {
  .reviews__container {
    padding-bottom: clamp( 6.25rem , 4.7911764706rem  +  7.2941176471vw , 10.125rem );
  }
}
@supports not (padding-bottom: clamp( 6.25rem , 4.7911764706rem  +  7.2941176471vw , 10.125rem )) {
  .reviews__container {
    padding-bottom: calc(6.25rem + 3.875 * (100vw - 20rem) / 53.125);
  }
}
.reviews__heading {
  position: relative;
  text-align: center;
  z-index: 5;
}
.reviews__heading:not(:last-child) {
  margin-bottom: 1.6875rem;
}
.reviews__title {
  font-size: 2.6875rem;
  font-weight: 700;
}
.reviews__title:not(:last-child) {
  margin-bottom: 1.5rem;
}
.reviews__subtitle {
  font-size: 1.25rem;
  line-height: 1.65;
}
.reviews__subtitle span {
  color: #6F1EAA;
}
.reviews__decor {
  position: absolute;
  top: 2.5rem;
  right: 4.0625rem;
  z-index: 2;
}
@media (max-width: 47.99875em) {
  .reviews__decor {
    display: none;
  }
}
.review-item {
  background-color: #DFF5F6;
  border-radius: 1.25rem;
  max-width: 67rem;
}
.review-item__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@supports (padding-top: clamp( 1.875rem , 1.2161764706rem  +  3.2941176471vw , 3.625rem )) {
  .review-item__body {
    padding-top: clamp( 1.875rem , 1.2161764706rem  +  3.2941176471vw , 3.625rem );
  }
}
@supports not (padding-top: clamp( 1.875rem , 1.2161764706rem  +  3.2941176471vw , 3.625rem )) {
  .review-item__body {
    padding-top: calc(1.875rem + 1.75 * (100vw - 20rem) / 53.125);
  }
}
@supports (padding-bottom: clamp( 1.875rem , 1.2161764706rem  +  3.2941176471vw , 3.625rem )) {
  .review-item__body {
    padding-bottom: clamp( 1.875rem , 1.2161764706rem  +  3.2941176471vw , 3.625rem );
  }
}
@supports not (padding-bottom: clamp( 1.875rem , 1.2161764706rem  +  3.2941176471vw , 3.625rem )) {
  .review-item__body {
    padding-bottom: calc(1.875rem + 1.75 * (100vw - 20rem) / 53.125);
  }
}
@supports (padding-left: clamp( 1.25rem , 0.7794117647rem  +  2.3529411765vw , 2.5rem )) {
  .review-item__body {
    padding-left: clamp( 1.25rem , 0.7794117647rem  +  2.3529411765vw , 2.5rem );
  }
}
@supports not (padding-left: clamp( 1.25rem , 0.7794117647rem  +  2.3529411765vw , 2.5rem )) {
  .review-item__body {
    padding-left: calc(1.25rem + 1.25 * (100vw - 20rem) / 53.125);
  }
}
@supports (padding-right: clamp( 1.25rem , 0.6617647059rem  +  2.9411764706vw , 2.8125rem )) {
  .review-item__body {
    padding-right: clamp( 1.25rem , 0.6617647059rem  +  2.9411764706vw , 2.8125rem );
  }
}
@supports not (padding-right: clamp( 1.25rem , 0.6617647059rem  +  2.9411764706vw , 2.8125rem )) {
  .review-item__body {
    padding-right: calc(1.25rem + 1.5625 * (100vw - 20rem) / 53.125);
  }
}
@supports (gap: clamp( 0.625rem , -0.0808823529rem  +  3.5294117647vw , 2.5rem )) {
  .review-item__body {
    gap: clamp( 0.625rem , -0.0808823529rem  +  3.5294117647vw , 2.5rem );
  }
}
@supports not (gap: clamp( 0.625rem , -0.0808823529rem  +  3.5294117647vw , 2.5rem )) {
  .review-item__body {
    gap: calc(0.625rem + 1.875 * (100vw - 20rem) / 53.125);
  }
}
@media (max-width: 47.99875em) {
  .review-item__body {
    align-items: start;
  }
}
.review-item__avtar {
  flex: 0 0 auto;
  border-radius: 50%;
  width: 14.875rem;
  height: 14.875rem;
  overflow: hidden;
}
@supports (height: clamp( 6.25rem , 3.0029411765rem  +  16.2352941176vw , 14.875rem )) {
  .review-item__avtar {
    height: clamp( 6.25rem , 3.0029411765rem  +  16.2352941176vw , 14.875rem );
  }
}
@supports not (height: clamp( 6.25rem , 3.0029411765rem  +  16.2352941176vw , 14.875rem )) {
  .review-item__avtar {
    height: calc(6.25rem + 8.625 * (100vw - 20rem) / 53.125);
  }
}
@supports (width: clamp( 6.25rem , 3.0029411765rem  +  16.2352941176vw , 14.875rem )) {
  .review-item__avtar {
    width: clamp( 6.25rem , 3.0029411765rem  +  16.2352941176vw , 14.875rem );
  }
}
@supports not (width: clamp( 6.25rem , 3.0029411765rem  +  16.2352941176vw , 14.875rem )) {
  .review-item__avtar {
    width: calc(6.25rem + 8.625 * (100vw - 20rem) / 53.125);
  }
}
.review-item__avtar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 600px) {
  .review-item__avtar {
    display: none;
  }
}
.review-item__review {
  flex: 0 1 44.3125rem;
}
.review-item__quote {
  max-height: 8.125rem;
  overflow: auto;
  line-height: 1.625;
}
.review-item__quote:not(:last-child) {
  margin-bottom: 0.5rem;
}
.review-item__user {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  line-height: 1.65;
}
.review-item__user::before {
  color: #F7A500;
  margin-right: 1rem;
  font-size: 1.375rem;
}

.blog {
  position: relative;
  background-color: #FAF9F6;
}
.blog__container {
  position: relative;
  padding-top: 3.625rem;
  padding-bottom: 3.625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 8;
}
.blog__heading {
  max-width: 28.4375rem;
  text-align: center;
}
.blog__heading:not(:last-child) {
  margin-bottom: 4.75rem;
}
.blog__title:not(:last-child) {
  margin-bottom: 1.875rem;
}
.blog__text {
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 1.7692307692;
}
.blog__posts {
  display: flex;
}
.blog__posts:not(:last-child) {
  margin-bottom: 3.0625rem;
}
@supports (gap: clamp( 0.625rem , 0.1073529412rem  +  2.5882352941vw , 2rem )) {
  .blog__posts {
    gap: clamp( 0.625rem , 0.1073529412rem  +  2.5882352941vw , 2rem );
  }
}
@supports not (gap: clamp( 0.625rem , 0.1073529412rem  +  2.5882352941vw , 2rem )) {
  .blog__posts {
    gap: calc(0.625rem + 1.375 * (100vw - 20rem) / 53.125);
  }
}
@media (max-width: 40.625em) {
  .blog__posts {
    flex-direction: column;
  }
}
.blog__decor-left {
  position: absolute;
  left: 0;
  top: calc(50% - 130px);
}
.blog__decor-right {
  position: absolute;
  right: 0;
  top: 50%;
}

.post-blog__item {
  display: flex;
  flex: 0 1 24rem;
  width: 100%;
}
@media (max-width: 47.99875em) {
  .post-blog__item {
    flex: 1 1 100%;
  }
}
.post-blog__body {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
@media (max-width: 29.99875em) {
  .post-blog__body {
    flex-direction: column;
  }
}
.post-blog__image {
  height: 14.875rem;
  overflow: hidden;
}
.post-blog__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.post-blog__info {
  border: 1px solid #e8dcf8;
  border-top: none;
  padding: 2.1875rem 2.25rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1 1 auto;
}
@supports (padding-top: clamp( 1.25rem , 0.8970588235rem  +  1.7647058824vw , 2.1875rem )) {
  .post-blog__info {
    padding-top: clamp( 1.25rem , 0.8970588235rem  +  1.7647058824vw , 2.1875rem );
  }
}
@supports not (padding-top: clamp( 1.25rem , 0.8970588235rem  +  1.7647058824vw , 2.1875rem )) {
  .post-blog__info {
    padding-top: calc(1.25rem + 0.9375 * (100vw - 20rem) / 53.125);
  }
}
@supports (padding-bottom: clamp( 1.25rem , 0.8970588235rem  +  1.7647058824vw , 2.1875rem )) {
  .post-blog__info {
    padding-bottom: clamp( 1.25rem , 0.8970588235rem  +  1.7647058824vw , 2.1875rem );
  }
}
@supports not (padding-bottom: clamp( 1.25rem , 0.8970588235rem  +  1.7647058824vw , 2.1875rem )) {
  .post-blog__info {
    padding-bottom: calc(1.25rem + 0.9375 * (100vw - 20rem) / 53.125);
  }
}
@supports (padding-left: clamp( 0.625rem , 0.0132352941rem  +  3.0588235294vw , 2.25rem )) {
  .post-blog__info {
    padding-left: clamp( 0.625rem , 0.0132352941rem  +  3.0588235294vw , 2.25rem );
  }
}
@supports not (padding-left: clamp( 0.625rem , 0.0132352941rem  +  3.0588235294vw , 2.25rem )) {
  .post-blog__info {
    padding-left: calc(0.625rem + 1.625 * (100vw - 20rem) / 53.125);
  }
}
@supports (padding-right: clamp( 0.625rem , 0.0132352941rem  +  3.0588235294vw , 2.25rem )) {
  .post-blog__info {
    padding-right: clamp( 0.625rem , 0.0132352941rem  +  3.0588235294vw , 2.25rem );
  }
}
@supports not (padding-right: clamp( 0.625rem , 0.0132352941rem  +  3.0588235294vw , 2.25rem )) {
  .post-blog__info {
    padding-right: calc(0.625rem + 1.625 * (100vw - 20rem) / 53.125);
  }
}
.post-blog__date {
  color: #F7A500;
  font-size: 0.9375rem;
  line-height: 1.5333333333;
}
.post-blog__date:not(:last-child) {
  margin-bottom: 0.9375rem;
}
.post-blog__title {
  font-size: 1.5rem;
  flex: 1 0 auto;
  line-height: 1.3333333333;
}
.post-blog__title:not(:last-child) {
  margin-bottom: 0.9375rem;
}
.post-blog__text {
  font-size: 0.6875rem;
  line-height: 2.0909090909;
  max-width: 18rem;
  flex: 1 0 auto;
}
.post-blog__text:not(:last-child) {
  margin-bottom: 1.6875rem;
}
.post-blog__btn-more {
  display: inline-flex;
  line-height: 1.1875;
  color: #6F1EAA;
}

.partners {
  background-color: #6F1EAA;
}
.partners__container {
  padding-top: 2.5rem;
  padding-bottom: 1.5rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.625rem;
  justify-content: space-between;
}
@media (max-width: 47.99875em) {
  .partners__container {
    justify-content: space-evenly;
  }
}
.partners__item {
  flex: 0 1 11.0625rem;
  text-align: center;
  height: 5.4375rem;
}
.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}
